{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <div class="card mt-5" style="width: 14rem;">
            <img src="{{url_for('static' , filename='profile_pics/' + post.author.image_file)}}" class="card-img-top" alt="...">
            <div class="card-body">
                <a class="card-link" href="#">{{post["author"]["username"]}}</a>
                <h6 class="card-title">{{ post["date_posted"].strftime("%m/%d/%Y") }}</h6>
                <a href="{{url_for('post',post_id=post.id)}}" class="card-link">{{post["title"]}}</a>
                <p class="card-text">{{post["content"]}}</p>

            </div>
        </div>
    {% endfor %}
{% endblock content %}