{% extends "layout.html" %}
{% block content %}
    {% for post in posts.items %}

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{url_for('static' , filename='profile_pics/' + post.author.image_file)}}" class="card-img-top"
                         alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="{{url_for('post',post_id=post.id)}}" class="card-link">{{post["title"]}}</a>
                        <h6 class="card-subtitle mt-2 text-muted">By <a href ='#'>{{post["author"]["username"]}}</a> on {{
                            post["date_posted"].strftime("%m/%d/%Y") }}</h6>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <nav aria-label="...">
        <ul class="pagination pagination-sm">
            {% for page in posts.iter_pages(left_edge=1, left_current=1, right_current=2, right_edge=1) %}
                {% if page %}
                    {% if posts.page == page %}
                        <li class="page-item active"><a class="page-link" href="{{url_for('home' , page=page) }}">{{ page }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{{url_for('home' , page=page) }}">{{ page }}</a></li>
                    {% endif %}
                {% else %}
                    <li class="page-item">...</li>
                {% endif %}
            {%  endfor %}
        </ul>
    </nav>


{% endblock content %}